<?php


namespace Nath\TpPaginaire\Config;

class Env {

    //Database
    //

    //Dsn of the database
    public const DSN = '';
    //User of the database
    public const USER = '';
    //user password of the database
    public const PASS = '';
}