<?php


namespace Nath\TpPaginaire\Config;

class Env {
    //controller namespace (finished by //)
    public const CONTROLLER = '';

    //path to views from src'
    public const VIEWS = ';

    //Database
    //

    //Dsn of the database
    public const DSN = '';
    //User of the database
    public const USER = '';
    //user password of the database
    public const PASS = '';
}